.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
  width: 100%;
  position: relative;
}
.navbar img {
  width: 250px;
}
.navbar .menu {
  display: flex;
  gap: 3rem;
}
a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 640;
}
.hamburger {
  display: none;
}
@media (max-width: 875px) {
  .menu {
    position: absolute;
    top: 12.5vh;
    max-height: 55vh;
    left: -100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    line-height: 15px;
    padding: 22vw;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    background-color: rgba(1, 1, 1, 0.92);
    overflow: scroll;
    font-size: 25px;
    border-radius: 10px;
  }
  
  .hamburger {
    display: block;
  }
  a {
    color: white;
  }
  .menu a {
   
    transition: all 0.3s ease-in-out;
    margin-left: 0px;
    margin-top: -10px;
    color: rgb(0, 198, 253);
    font-weight: 700;
  }
  .active {
    transition: all 0.5s ease-in-out;
    left: 0;
    /* padding-left:rem; */
  }
}
@media (max-width: 450px) {
  .menu {
    font-size: 23px;
  }
  .cross {
    position: absolute;
    top: 45px;
    left: 78%;
    font-weight: bold;
  }
  .cross:hover {
    cursor: pointer;
  }
}
