.form-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.Form form {
  padding: 20px;
}
.contact-us h1 {
  background-color: #c9e4f8;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.contactus-content {
  padding: 1rem 3rem;
}
.contactus-content img {
  width: 450px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  gap: 0.9rem;
  width: 450px;
  height: 250px;
  color: white;
  padding: 1rem 4rem;
}

.phonedetails span,
.webiste span {
  margin-left: 30px;
}
.phonedetails .fa {
  color: rgb(228, 187, 8);
}
.webiste .fa {
  color: rgb(228, 187, 8);
}
.website a {
  color: white;
}
.phonedetails .fa-phone,
.webiste .fa-globe {
  font-size: 30px;
}
.phonedetails .fa-phone {
  margin-left: -5px;
}
.fullname{
  display: flex;
  gap: 2rem;
}
.contact-details{
  display: flex;
  gap: 2rem;  
  padding: 2rem 0;
}
.first input{
  width: 25vw;
  height: 7vh;
  padding: 0 20px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 8px;
}
.first{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.first label,.textarea label{
  font-size: 18px;
}
.textarea{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.textarea textarea{
  width:25vw ;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid black;
}
@media(max-width:1300px){
  .first input{
    width: 20vw;
    height: 5vh;
  }
}
@media(max-width:1100px){
  .form-contact {
   flex-direction: column;
  }
  .contactus-content img {
    width: 100%;
  }
  .details {
   
    width: 100%;
    height: 255px;
  
    padding: 1rem 5rem;
  }
  .first input{
    width: 28vw;
    height: 5vh;
  }
  .textarea textarea{
    width: 28vw;
  }
  
}
@media(max-width:780px){
  .fullname,.contact-details{
    flex-direction: column;
  }
  .first input{
    width: 58vw;
  }
  .textarea textarea{
    width: 58vw;
  }
}
@media(max-width:615px){
  .phonedetails{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone span{
    margin-top: 30px;
  }
  .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .contactus-content{
    padding: 0;
  }
  .contact-us h1 {
    height: 14vh;
    font-size: 45px;
  }
}
@media(max-width:450px){
  .first input,.textarea textarea{
    width: 80vw;
  }
  .Contact-Form form{
    padding: 2rem 0;
  }
  .details h2{
    font-size: 35px;
    text-align: center;
    margin-left: 70px;
  }
}