.whatwedo h1 {
  background-color: #da534f;
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
}
@media (max-width: 450px) {
  .whatwedo h1 {
    font-size: 50px;
    height: 20vh;
  }
}
.wwd-content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
}
.wwd-content p {
  letter-spacing: 2px;
}
.wwd-content h2 {
  font-size: 40px;
  text-align: center;
}
.warehouse {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.warehouseimg {
  width: 600px;
  height: 450px;
}
.ware-storage {
  display: flex;
  flex-direction: column;
}
.ware-storage h2 {
  background-color: #92c1ec;
  padding: 1rem 1rem;
  font-size: 29px;
}
.ware-storage p {
  width: 540px;
  font-size: 18px;
  text-align: left;
  background-color: #fce8a0;
  padding: 2rem 2rem;
  margin-top: -10px;
  line-height: 31px;
}
.supplychain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
}
.supply-content h2 {
  background-color: #92c1ec;
  padding: 1rem 1rem;
  font-size: 29px;
}
.supply-content p {
  width: 540px;
  font-size: 18px;

  text-align: left;
  background-color: #fce8a0;
  padding: 2rem 2rem 3rem 2rem;
  margin-top: -10px;
  line-height: 31px;
}
.chain {
  width: 600px;
  height: 450px;
}
.long-text {
  max-height: 0;
  overflow: hidden;
  display: inline-block;
  padding: 0.5rem 0;
}
.expanded {
  max-height: 100vh;
  padding: 1rem 0;
  transition: 1.2s all ease-in;
}
.readmore {
  text-align: center;
  margin-left: 170px;
  font-weight: bold;
  color: rgb(250, 0, 0);
}
.readmore:hover {
  cursor: pointer;
}
.equipment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0;
}
.equipment-content {
  display: flex;
  flex-direction: column;
}
.equipment-content p {
  width: 540px;
  font-size: 18px;
  text-align: left;
  background-color: #fce8a0;
  padding: 2rem 2rem;
  margin-top: -10px;
  line-height: 31px;
}
.equipment-content h2 {
  background-color: #92c1ec;
  padding: 1rem 1.5rem;
  font-size: 29px;
}
.Readmore {
  margin-left: 170px;
  color: red;
  font-weight: bold;
}
.Readmore:hover {
  cursor: pointer;
}
.video {
  width: 600px;
}
.transport-content {
  display: flex;
  flex-direction: column;
}
.transportation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -130px;
}
.transport-content h2 {
  background-color: #92c1ec;
  padding: 1rem 1.5rem;
  font-size: 29px;
}
.transport-content span {
  width: 540px;
  text-align: left;
  background-color: #fce8a0;
  font-size: 18px;

  padding: 10px 2rem;
  line-height: 31px;
  margin-top: -10px;
}
.inventorycontent {
  display: flex;
  flex-direction: column;
}
.inventory-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -120px;
}

.inventorycontent h2 {
  background-color: #92c1ec;
  padding: 1rem 1.5rem;
  font-size: 29px;
}
.inventorycontent p {
  width: 540px;
  text-align: left;
  background-color: #fce8a0;
  font-size: 18px;
  padding: 10px 2rem;
  line-height: 31px;
  margin-top: -10px;
}
@media (max-width: 1150px) {
  .ware-storage h2,
  .supplychain h2,
  .inventory-control h2,
  .equipment h2,
  .transportation h2 {
    font-size: 20px;
    padding: 1rem 1.5rem;
  }
  .ware-storage {
    padding: 0 5rem;
  }
  .ware-storage p,
  .supply-content p,
  .equipment-content p,
  .transport-content span,
  .inventorycontent p {
    width: 450px;
  }
  .chain,
  .video {
    width: 450px;
  }
  .inventory-control {
    margin-top: -120px;
    padding: 2rem 0;
  }
  .transportation {
    /* margin-top: 1px; */
    padding-top: 5rem;
  }
}
@media (max-width: 1020px) {
  .warehouse,
  .supplychain,
  .equipment,
  .transportation,
  .inventory-control {
    flex-direction: column;
  }
  .ware-storage h2,
  .supplychain h2,
  .inventory-control h2,
  .equipment h2,
  .transportation h2 {
    font-size: 30px;
    text-align: center;
    padding: 1rem 1.5rem;
  }
  .ware-storage {
    padding: 0 0rem;
  }
  .ware-storage p,
  .supply-content p,
  .equipment-content p,
  .transport-content,
  .inventorycontent p {
    width: 100%;
    font-size: 20px;
    line-height: 35px;
  }
  .transport-content span {
    width: 100%;
    font-size: 20px;
  }
  .warehouseimg {
    width: 100%;
    height: 60vh;
  }
  .supplychain img {
    width: 100%;
    height: 50vh;
    margin-top: -50px;
  }
  .video {
    width: 70%;
  }
}
@media (max-width: 780px) {
  .inventory-control {
    padding-top: 5rem;
  }
  .video {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .wwd-content h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 1rem;
  }
  .readmore,.Readmore{
    margin-left: 130px;
  }
}
