.whatwedo h1{
    background-color: #DA534F;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}
.wwd-content{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    justify-content: center;
    align-items: center;
}
.wwd-content p{
    letter-spacing: 2px;
}
.wwd-content h2{
    font-size: 40px;
}